
       <div class="container-fluid">
        <div class="row  mt-2 mb-2 shadow">
            <div style="border-radius:10px;border-color: aqua;"  shadow class="col-3   text-center">
                <div ><img style="height:160px;width:160px;background-color:white;" src="assets/images/realme8.png"/></div>
                <div ><strong><p>₹17,999</p></strong></div>
                <div class="mt-2" style="background-color:rgb(42, 159, 202);border-radius:10px;"> <p style="color:white;">8 GB RAM | 128 GB ROM | Expandable Upto 256 GB · 16.26 cm (6.4 inch) Full HD+ Display · 108MP + 8MP + 2MP + 2MP | 16MP Front Camera · 4500 mAh Battery ·</p></div>
    
                
            </div>
            <div class="col-3  text-center ">
                <div><img style="height:160px;width:160px;" src="assets/images/realMe.jpg"/></div>
    
                <div class="mt-2" style="background-color:rgb(42, 159, 202);border-radius:10px;"> <p style="color:white;">Real me</p></div>
            </div>
            <div class="col-3 text-center">
                <div><img style="height:160px;width:160px;" src="assets/images/RealmePng.png"/></div>
    
                <div class="mt-2" style="background-color:white;border-radius:10px;"> <p style="color:white;">Real me</p></div>
            </div>
            <div class="col-3 text-center">
                <div><img style="height:160px;width:160px;" src="assets/images/Realme.png"/></div>
    
                <div class="mt-2"  style="background-color:white;border-radius:10px;"> <p style="color:white;">Real me</p></div>
            </div>
    
        </div>
    
        <div class="row mt-4">
            <div class="col-3 text-center">
                <div><img style="height:160px;width:160px;" src="assets/images/realMe.jpg"/></div>
    
                <p>Real me</p>
            </div>
            <div class="col-3 text-center ">
                <div><img style="height:160px;width:160px;" src="assets/images/realMe.jpg"/></div>
    
                <p>Real me</p>
            </div>
            <div class="col-3 text-center">
                <div><img style="height:160px;width:160px;" src="assets/images/realMe.jpg"/></div>
    
                <p>Real me</p>
            </div>
            <div class="col-3 text-center">
                <div><img style="height:160px;width:160px;" src="assets/images/realMe.jpg"/></div>
    
                <p>Real me</p>
            </div>
    
    
        </div>
    
    
        <div class="row mt-4">
            <div class="col-3 text-center">
                <div><img style="height:160px;width:160px;" src="assets/images/realMe.jpg"/></div>
    
                <p>Real me</p>
            </div>
            <div class="col-3 text-center ">
                <div><img style="height:160px;width:160px;" src="assets/images/realMe.jpg"/></div>
    
                <p>Real me</p>
            </div>
            <div class="col-3 text-center">
                <div><img style="height:160px;width:160px;" src="assets/images/realMe.jpg"/></div>
    
                <p>Real me</p>
            </div>
            <div class="col-3 text-center">
                <div><img style="height:160px;width:160px;" src="assets/images/realMe.jpg"/></div>
    
                <p>Real me</p>
            </div>
    
        </div>
    
        
    </div> 

    












 


